*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBar{
    display: flex;
    text-align: center;
    padding: 2px;
}
.logo{
    display: flex;
}
h1{
    padding: 20px;
    padding-left: 2px;  
    font-family:cursive;
    font-weight: lighter;
    text
}
nav {
    flex:1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    padding: 21px;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}
